/*
 * Copyright 2014-2018 smartics, Kronseder & Reiner GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/**
 * Rating Macro in edit mode
 */
img.editor-inline-macro[data-macro-name="projectdoc-devdiary-rating"],
img.editor-inline-macro[data-macro-name="projectdoc-devdiary-shortrating"]
{
	background-image: none !important;
	padding: 0px 0px 0px 0px;
	height: 40px;
	width: 40px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-10-perfect span.panel-button-text,
#property-panel a.aui-button.macro-property-panel-projectdoc-4-perfect span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-9-good-up span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-8-good span.panel-button-text,
#property-panel a.aui-button.macro-property-panel-projectdoc-3-good span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-7-good-down span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-6-ok-up span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-five-ok span.panel-button-text,
#property-panel a.aui-button.macro-property-panel-projectdoc-2-ok span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-4-ok-down span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-3-imperfect-up span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-2-imperfect span.panel-button-text,
#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect-down span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-zero-unrated span.panel-button-text,
#property-panel a.aui-button.macro-property-panel-projectdoc-0-unrated span.panel-button-text
{
	display: none;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-10-perfect span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-10-perfect.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-4-perfect span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-4-perfect.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-10-perfect,
#property-panel a.aui-button.macro-property-panel-projectdoc-4-perfect
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-9-good-up span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-9-good-up.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-9-good-up
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-8-good span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-8-good.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-3-good span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-3-good.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-8-good,
#property-panel a.aui-button.macro-property-panel-projectdoc-3-good
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-7-good-down span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-7-good-down.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-7-good-down
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-6-ok-up span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-6-ok-up.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-6-ok-up
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-five-ok span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-five-ok.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-2-ok span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-2-ok.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-five-ok,
#property-panel a.aui-button.macro-property-panel-projectdoc-2-ok
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-4-ok-down span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-4-ok-down.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-4-ok-down
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-3-imperfect-up span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-3-imperfect-up.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-3-imperfect-up
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-2-imperfect span.icon,
#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-2-imperfect.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-2-imperfect,
#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect-down span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-1-imperfect-down.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-1-imperfect-down
{
	width: 60px;
	height: 50px;
}

#property-panel a.aui-button.macro-property-panel-projectdoc-zero-unrated span.icon,
#property-panel a.aui-button.macro-property-panel-projectdoc-0-unrated span.icon
{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(macro-icons/rating-zero-unrated.png);
}

#property-panel a.aui-button.macro-property-panel-projectdoc-zero-unrated,
#property-panel a.aui-button.macro-property-panel-projectdoc-0-unrated
{
	width: 60px;
	height: 50px;
}
